<br/>
<div class="row">
    <div class="col-md-3">
        <div class="center">
        
        </div>
        <div class="card">
            <div class="card-header">
                <%= current_user.fullname %>
            </div>
            <div class="card-body">
                <ul class="sidebar-list">
                    <% if current_user.confirmation_token %>
                        <li>Email Address<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
                    <% end %>
                    <% if current_user.provider %>
                        <li>Facebook<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
                    <% end %>
                    <% if current_user.phone_verified %>
                        <li>Phone Number<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <%# Notification %>
        <div class="card">
            <div class="card-header">Notifications</div>
            <div class="card-body">
                <%= link_to notifications_path do %>
                    You have <span id="num_of_unread"><%= current_user.unread %></span> notification(s)
                <% end %>
            </div>
        </div>
        <br/>
         <%# Your Listings %>
        <div class="card">
            <div class="card-header">Your listings (<%= @rooms.length %>)</div>
            <div class="card-body">
                <div class="row">
                    <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
                </div>
            </div>
        </div>
    </div>
</div>